# Node modules
*/node_modules
node_modules/

# Environment variables
.keys/
.env
.env.testnet

# keys from .env.sui, etc.
docker/workspace-data
docker/world-contracts/
.DS_Store

deployments/*
test-resources.json

dapps/frontend
.DS_Store

.pnpm-store/
